@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --color: hsl(0, 0%, 63%);
}

body {
  background-color: var(--Cream);

  /* display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; */
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
}

.container {
  /* background-color: aqua; */
  display: flex;
  max-width: 50rem;

  margin: 0 auto;
  margin-top: 20vh;

  border-radius: 5rem;
}

.img-desktop {
  width: 25rem;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.img-mobile {
  display: none;
}

.info {
  background-color: var(--White);
  padding: 2.5rem;
  width: 25rem;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.head {
  margin-bottom: 2rem;
  display: inline-block;
  letter-spacing: 0.5rem;

  color: var(--color);
}

header {
  margin-bottom: 2rem;
}

header h2 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;

  font-size: 3rem;
  line-height: 1;
}

main p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 2rem;

  color: var(--color);
}

.prices {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.price1 {
  font-size: 3rem;
  color: var(--Dark-cyan);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.price2 {
  font-size: 1.2rem;

  text-decoration: line-through;

  color: var(--color);
}

button {
  width: 100%;
  background-color: var(--Dark-cyan);
  color: var(--White);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
}

@media screen and (max-width: 463px) {
  body {
    padding: 2rem;
  }

  .container {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: inline;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .head {
    margin-bottom: 1rem;
  }

  header h2 {
    font-size: 2.5rem;
    /* line-height: 1; */
  }

  .info {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  main p {
    font-size: 1.3rem;
  }
}
